*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightslategray;
    font-weight: bold;
    
}

div{
    display: flex;
    background-color: lightsteelblue;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


label{
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

header{
    color: white;
    text-align: center;
    background-color: steelblue;
    background-size: contain;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    margin-bottom: 10px;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    height: 40px;
}

button{
    margin-top: 15px;
    background-color: steelblue;
    color: white;
    height: 30px;
    border-radius: 50px;
    margin-top: 15px;
    outline: none;
    height: 50px;
    width: 50%;
    align-self: center;
    font-size: large;
    border: none;

}